<div id="banner">
  Welcome <%= @user.username %> | <%= link_to "Logout", logout_path, :method => :delete %>
  <% if current_user.id.to_i == @user.id.to_i %>
    <%= link_to 'Edit Details', edit_user_path(@user) %>
  <% end %>
</div>

<h2>Personal Information</h2>
<p>
  <strong><%= "#{@user.first_name} #{@user.last_name}" %></strong><br>
  Email: <%= @user.email %><br>
  Zipcode: <%= @user.zipcode %><br>
  Role: <%= @user.role %><br>
  Current School: <%= @user.school %>
</p>

<h2>Subjects</h2>
<p>
  <ul>
    <% @user.subjects.each do |subject| %>
      <li><%= subject.name %></li>
    <% end %>
  </ul>
</p>

<h2>My Availability</h2>
<p>
  <%= @user.availability %>
</p>
